.navbar{
    height: 100px;
    font-size: 15px;
  font-weight: 700;
  background-color: rgb(44, 62, 80);
  position: static;
}
.navbar ul{
    gap: 10px;
    
}
.navbar ul li a{
    color:white;
}
 .container .navbar-brand{
    font-size: 40px;
}
